<footer class="footer">
    <section class="socials">
        <h4 class="footerHeading">Follow us</h4>
        <div class="socialsWrapper">
            <img src="https://via.placeholder.com/35.png" alt="">
            <img src="https://via.placeholder.com/35.png" alt="">
            <img src="https://via.placeholder.com/35.png" alt="">
            <img src="https://via.placeholder.com/35.png" alt="">
        </div>
    </section>
    <section class="mail">
        <h4 class="footerHeading">Follow us</h4>
        <a href="/">hello@fapsterapp.com</a>
    </section>
    <section class="information">
        <h4 class="footerHeading">Information</h4>
        <div class="informationWrapper">
            <a href="/">About Fapster app</a>
            <a href="/">Onhovered / Active</a>
            <a href="/">We are hiring!</a>
            <a href="/">Get in Touch</a>
            <a href="/">Privacy Policy</a>
            <a href="/">Resources</a>
            <a href="/">Things We Like</a>
            <a href="/">Terms of Service</a>

        </div>
    </section>
    <section class="message">
        <h4 class="footerHeading">Keep in touch</h4>
        <form class="messageForm">
            <div class="inputGroup">
                <input type="text" placeholder="name">
                <input type="email" name="email" id="email" placeholder="email">
            </div>
            <div class="inputGroup">
                <textarea name="message" id="message"></textarea>
                <button>
                    Send
                </button>
            </div>
        </form>
    </section>
</footer>