<div class="hero-grid">
    <p class="text">Use mixed grid with imagery, replace with your own photos and descriptions</p>
    <div class="yellowSquare square">
        <h4>We aimed to deliver HQ templates for figma</h4>
        <p>Used by 123 people</p>
    </div>
    <div class="greenSquare square">
        <h2>Image Title</h2>
    </div>
    <div class="pinkSquare square"></div>
    <div class="lightPurpleSquare square"></div>
    <div class="purpleSquare square">
        <h2>Caption</h2>
    </div>
    <p class="text2">This is multipurpose grid, it fits for portfolio, services or agency web site</p>
    <a class="learn" href="https://www.youtube.com/watch?v=O91DT1pR1ew&ab_channel=BshizzleFilmsBshizzleFilms">Learn more</a>
    <div class="orangeSquare square"></div>
    <div class="blueSquare square">
        <img src="https://via.placeholder.com/50.png" alt="">
    </div>
</div>