<section class="offers">
    <h1>Delevering good designs since 1954</h1>
    <p>We’re the first multi-purpose design kit solutions for businesses. We help you bridge gaps between your layouts, templates and developers to empower all involved.</p>
    <div class="cardWrapper">
        <offers-card
        [heading]="support.heading"
        [desc]="support.desc"
        ></offers-card>
        <offers-card
        [heading]="sales.heading"
        [desc]="sales.desc"
        ></offers-card>
        <offers-card
        [heading]="component.heading"
        [desc]="component.desc"
        ></offers-card>
        <offers-card
        [heading]="icon.heading"
        [desc]="icon.desc"
        ></offers-card>
    </div>
</section>